    <div class="container">

      <div class="starter-template">
        <h1>Wait &amp; Eat</h1>
        <p class="lead">eat better</p>

        <a href="/#/register" class="btn btn-primary btn-lg" role="button">Do It!!</a>

      </div>



<div class="row">
  <div class="col-md-4"><h2>Ready</h2><p>when the blue bird sings at the moon and the cat goes to the corner...</p></div>
  <div class="col-md-4"><h2>Ready</h2><p>when the blue bird sings at the moon and the cat goes to the corner...</p></div>
  <div class="col-md-4"><h2>Ready</h2><p>when the blue bird sings at the moon and the cat goes to the corner...</p></div>
</div>
    </div><!-- /.container -->